.dataContMainCont {
  display:block;  
  position:relative;
  width:100vw;  
  height:99.9vh;
  padding:0;
  background-color: rgb(242, 242, 242);
  overflow:hidden;
}

.productoFormOuterCont {
  width:99.9%;  
  height:99.9%;
  position:absolute;
  top:1px;
  left:1px;
  z-index:2000;
}