.modalMainCont {
    display:block;   
    position:fixed;
    left:0px;
    top:0;
    z-index:2000;
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;  
    backdrop-filter:blur(8px); 
   }
   
   .modalInnerCont {
     background-color:rgb(229, 229, 229);  
     position:relative;
     margin:20% auto 40% auto;
     width:30%;
     height:fit-content;
     border-radius:6px;
     border:1px solid rgb(37, 36, 37);
   }
   
   .modalMessage {
    display:block;   
    position:relative;
    margin:0 auto 0 auto;   
    width:fit-content;
    text-align:center;
   }
   
   .iconDiv {
    display:block;   
    position:relative;
    width:fit-content;
    height:fit-content;
    margin:5px auto 0 auto;
   }
   
   .modalConfirmationButton {
     display:block;
     position:relative;
     width:fit-content;
     padding:10px 60px 10px 60px;
     margin:10px auto 10px auto;
     border-radius:6px;
     border:1px solid rgb(96, 1, 156);
     color:rgb(96, 1, 156);
     font-weight:900;
   }